@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 2000px;
  /* background-image: url("images/Logo parallax.png"); */
  background-image: url("../images/Logo_parallax.png");
  z-index: -8;
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.outerSlide,
.roomContainer,
.room2Container,
.news {
  background-color: white;
}

.hContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  min-height: 108px;
}

.smallLogo {
  margin-left: 5.25%;
}

.smallLogo img {
  padding-top: 7px;
  max-width: 35%;
  height: auto;
}

.navBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1%;
}

.navBar ul {
  display: flex;
}

.navBar li {
  padding-left: 25px;
  list-style-position: inside;
}

.navBar li:first-child {
  list-style: none;
}

.navPar {
  white-space: nowrap;
  margin-right: 4%;
  text-align: center;
  width: 15%;
}

.navBar a {
  text-decoration: none;
}

/* END OF HEADER AND NAV */

/* SLIDE SHOW */

.outerSlide {
  overflow: hidden;
  margin-top: 90px;
}

.outerSlide {
  position: relative;
}

.logoDisappear {
  position: absolute;
  z-index: 2;
  left: 5%;
}

.test {
  position: relative;
}

.socialMedia {
  width: 271.22px;
  height: 82px;
  background-color: #ece9e9;
  position: absolute;
  bottom: 3%;
  right: 7%;
  border-radius: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  width: fit-content;
  display: block;
}

.links a:first-child {
  text-align: end;
}

.links a:nth-child(2) {
  text-align: center;
}

.socialMedia a p {
  font-size: 18px;
  padding-right: 10px;
}

.socialMedia a p:visited {
  color: black;
}

.links img {
  padding-top: 10px;
  width: 65%;
  height: auto;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  bottom: -20px;
}

.slick-slide img {
  width: 89.56%;
  margin: 0 auto;
}

.slick-dots {
  width: 100%;
  text-align: left;
}

.slick-dots li {
  bottom: 40px;
  left: 150px;
  text-align: start;
}

.slick-dots li button:before {
  content: "";
  z-index: -1;
  width: 14px;
  height: 14px;
  margin-top: 7px;
  margin-left: 7px;
  z-index: 200000;
  background-color: white;
}

.slick-dots li:hover button:before {
  content: "";
  z-index: 200000;
  background-color: red;
}

.slick-dots li button {
  height: 28px;
  width: 28px;

  background-color: black;
}

.slick-dots li.slick-active button:before {
  background-color: white;
  opacity: 1;
}

.slick-dots li {
  height: 28px;
  width: 28px;
}

.background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.bgInnerContainer {
  background-color: #f8f5f0;
  width: 89.56%;
  /* padding-top: 40px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 150px;
}
.selection {
  width: 135%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  column-gap: 4px;
}

.bgInnerContainer div p:first-child {
  font-size: 14px;
  padding-bottom: 4px;
}

.bgInnerContainer div p:nth-child(2) {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 15px;
}

.selection select {
  width: 20%;
  padding: 10px 5px 10px 5px;
  border: none;
}

.selection select:nth-child(1),
.selection select:nth-child(2) {
  appearance: none;
  background: url("../icons/calendar.png") right no-repeat;
  background-position: 90%;
  background-color: white;
}

.selection select:nth-child(3),
.selection select:nth-child(4),
.selection select:nth-child(5) {
  flex-basis: content;
  appearance: none;
  background: url("../icons/angle-down.png") right no-repeat;
  background-position: 90%;
  background-size: 14%;
  background-color: white;
}

.selection select option {
  text-align: left;
}

.checkBtn {
  white-space: nowrap;
}

.checkBtn button {
  background-color: #aa8453;
  width: 100%;
  padding: 9px 10px 9px;
}

/* End Of SLIDE SHOW*/

/* Room Presentation 1 */
.roomContainer,
.room2Container,
.news {
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomInnerContainer,
.room2InnerContainer {
  background-color: #f8f5f0;
  padding-bottom: 100px;
  width: 89.56%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.room1,
.room3 {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 70px;
  padding-top: 2%;
}

.room2,
.room4 {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  padding-top: 10%;
}

.living {
  position: absolute;
  top: 0;
  right: 0;
}

.icons {
  background-color: white;
  padding: 10px 20px;
  border-radius: 1rem;
  /* box-shadow: ; */
}

.room1 .roomImg {
  padding-top: 3%;
}

.iconText {
  padding-top: 16%;
}

/* Start Of Details */

.details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -3;
}

.detailsInnerContainer {
  width: 89.56%;
  /* background-color: white; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  position: relative;
  /* z-index: -2; */
}

.details-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  /* background-color: red; */
  margin-bottom: 130px;
  /* width: 50%; */
}

.milosIslan {
  position: absolute;
  top: -2.5%;
  left: 0;
  /* z-index: -1; */
}

.informationTxt {
  margin-top: 34%;
  width: 488px;
  font-size: 18px;
  line-height: 32px;
  word-wrap: break-word;
  /* background-color: aquamarine; */
}

.readBtn {
  align-self: end;
  background-color: black;
  padding-bottom: 6px;
  z-index: 5;
}

.readBtn button {
  color: white;
  display: block;
  background-color: #464645;
  padding: 15px 25px;
}

.readBtn button:hover {
  background-color: #686865;
}

.testing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.outsideImg1 {
  position: absolute;
  top: 25px;
  left: -45%;
  z-index: 1;
}

.outsideImg1 img {
  width: 90%;
  height: auto;
}

.outsideImg2 img {
  width: 100%;
  height: auto;
}

.room2Container {
  margin-top: 0;
}

.relaxing {
  position: absolute;
  bottom: 0;
  left: 0;
}

.relaxing img {
  width: 100%;
  height: auto;
}

.room3 {
  margin-top: 3%;
  margin-left: -0.3%;
}

.room3 img {
  height: 110%;
  width: auto;
}

.room4 {
  padding-top: 0;
  margin-top: 0;
  margin-left: 4%;
}

.room4 img {
  height: 80%;
  width: auto;
}

.room4 .icons {
  margin-bottom: 90px;
  box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.2);
}

.newsInnerContainer {
  background-color: #222;
  width: 89.56%;
  /* padding-top: 40px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 150px;
}

.news__txt {
  color: gold;
  /* width: 50%; */
  text-align: left;
}

.news__txt p:last-child {
  color: white;
  font-size: 40px;
  text-align: left;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.card:first-child {
  margin-right: 20px;
}

.card:last-child {
  margin-left: 20px;
}

.card div:first-child {
  width: 100%;
}

.card div:last-child {
  position: absolute;
  bottom: -12px;
  width: 90%;
  height: 80px;
  font-size: 18px;
}

.card div:last-child p {
  background-color: white;
  padding: 20px 25px;
  font-weight: bolder;
}

.card div:last-child p span {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  padding-bottom: 8px;
}

/* Ratings */

.ratings {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.ratingsInnerContainer {
  width: 89.56%;
  /* padding-top: 40px */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 150px;
}

.ratingTxt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.fixText {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review {
  text-align: center;
  max-width: 40ch;
}

.author {
  text-align: center;
  padding-top: 20px;
  color: #0b6354;
  font-weight: bold;
}

.ratingTxt:first-child {
  margin-right: 60px;
}

.ratingTxt:last-child {
  margin-left: 60px;
}


.fContainer {
  margin-top: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.fInnerContainer {
  width: 89.56%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
}

.contact > p {
  padding-bottom: 20px;
}

.tilephono-Odos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.ama {
  padding-bottom: 20px;
}

/* .contact div:first-of-type {
  padding-bottom: 20px;
} */