@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 2000px;
}

/* :root {

} */

.hContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 4;
  top: 0;
  min-height: 108px;
}

.smallLogo {
  margin-left: 5.25%;
}

.smallLogo img {
  padding-top: 7px;
  max-width: 35%;
  height: auto;
}

.navBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1%;
}

.navBar ul {
  display: flex;
}

.navBar li {
  padding-left: 25px;
  list-style-position: inside;
}

.navBar li:first-child {
  list-style: none;
}

.navPar {
  white-space: nowrap;
  margin-right: 4%;
  text-align: center;
  width: 15%;
}

.navBar a {
  text-decoration: none;
}

/* END OF HEADER AND NAV */

/* SLIDE SHOW */

.outerSlide {
  overflow: hidden;
  margin-top: 90px;
}

.outerSlide {
  position: relative;
}

.logoDisappear {
  position: absolute;
  z-index: 2;
  left: 5%;
}

.test {
  position: relative;
}

.socialMedia {
  width: 271.22px;
  height: 82.01px;
  background-color: #ece9e9;
  position: absolute;
  bottom: 3%;
  right: 7%;
  border-radius: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  width: fit-content;
  display: block;
}

.links a:first-child {
  text-align: end;
}

.links a:nth-child(2) {
  text-align: center;
}

.socialMedia a p {
  font-size: 18px;
  padding-right: 10px;
}

.socialMedia a p:visited {
  color: black;
}

.links img {
  padding-top: 10px;
  width: 65%;
  height: auto;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  bottom: -20px;
}

.slick-slide img {
  max-width: 89.56%;
  margin: 0 auto;
}

.slick-dots {
  width: 100%;
  text-align: left;
}

.slick-dots li {
  bottom: 40px;
  left: 150px;
  text-align: start;
}

.slick-dots li button:before {
  content: "";
  z-index: -1;
  width: 14px;
  height: 14px;
  margin-top: 7px;
  margin-left: 7px;
  z-index: 200000;
  background-color: white;
}

.slick-dots li:hover button:before {
  content: "";
  z-index: 200000;
  background-color: red;
}

.slick-dots li button {
  height: 28px;
  width: 28px;

  background-color: black;
}

.slick-dots li.slick-active button:before {
  background-color: white;
  opacity: 1;
}

.slick-dots li {
  height: 28px;
  width: 28px;
}

.background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.bgInnerContainer {
  background-color: #f8f5f0;
  width: 89.56%;
  /* padding-top: 40px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selection {
  width: 135%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  column-gap: 4px;
}

.selection select {
  width: 20%;
  padding: 10px 10px 10px 0px;
  border: none;
  /* background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") right center no-repeat; */
  /* color: orange; */
}

.selection select:nth-child(3) {
  flex-basis: content;
}

.selection select:nth-child(4) {
  flex-basis: content;
}

.selection select:nth-child(5) {
  flex-basis: content;
}

.selection select option{
  text-align: left;
}

.checkBtn {
  white-space: nowrap;
}

.checkBtn button {
  background-color: orangered;
  width: 100%;
  padding: 9px 10px 9px;
}